body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}
.title{
	border: 3px black solid;
	background-color: rgb(112, 104, 122);
	margin: 20px;

}
.title h1{
	text-align: center;
	font-style: italic;
	letter-spacing: 0.5em;
}
.clear{
	clear:both;
}
.content{
	border: 3px solid black;
	margin: 20px;
	
}
.content h2, .deskripsi h2{
	background-color: coral;
	font-weight: 800;
	font-size: 20px;
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: underline;
}
.image{
	padding: 10px;
	float:left;
	width: 50%;
	box-sizing: border-box;	
}
.image img{
	float: right;
}	
.identity{
	padding: 10px;
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.identity p{
	padding-top: 10px;
	padding-bottom: 15px;
	font-weight:bold;
	font-size: 20px;
	letter-spacing: 0.1em;
}
.identity ul{
	float: right;
	width: 80%;
	list-style: square;
}
.deskripsi{
	border: 3px black solid;
	margin: 20px;
}
.deskripsi p{
	text-align: justify;
	padding: 0px 15px;
}
.footer{
	margin: 20px;
}

